@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 6rem;
    color: rgb(145, 236, 244);
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 1);
}

.clock {
    display: flex;
    color: rgb(27, 250, 250);
    margin-top: 7rem;
}

.clock div {
    margin: 0.5rem;
    position: relative;
}

.clock span {
    width: 10rem;
    height: 8rem;
    opacity: 80%;
    background: rgb(8, 0, 255);
    display: flex; /* enables width and height */
    justify-content: center; /* centers the contents horizontally */
    align-items: center; /* centers the contents vertically */
    font-size: 6rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: darkblue;
    opacity: 80%;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 6rem;
    height: 3rem;
    font-size: 2.4rem;
}

.clock .profile {
    position:absolute;
    font-size: 3.5rem;
    background: none;
    top: 17rem;
    right: 12.7rem;
}


a {
    color: aqua;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(250, 1, 1);
}


